



<div class="container-fluid">
  <!-- <div class="row">
  <%= link_to posters_path, :class => "button btn btn-default btn-md" do%>PARTIES<%end%>
</div> -->
  <div class ="span4">
    <p class= "heading">PARTIES</p>
  </div>
    <div class="span4">
        <p class="heading" >Upcoming events</p>
      </div>
      <!-- grid for previous events -->
      <div class= "row">
          <% @posters.each do |poster| %>
          <!-- if poster is not upcoming, ie is previous -->
            <%if poster.upcoming == true%>
              <div class = "col-md-4">
                <div class = "thumbnail">
                    <%= image_tag poster.picture.url.to_s, :title=> poster.title%>
                    <div class="caption">
                      <%= poster.description %>
                    </div>
                </div>
              </div>
            <%end%>
          <% end%>
      </div>
<!-- previous event heading -->
  <div class ="row">
    <p class="heading" >Previous Events</p>
  </div>

<!-- grid for previous events -->
  <div class= "row">
    <% @posters.each do |poster| %>
    <!-- if poster is not upcoming, ie is previous -->
      <%if poster.upcoming != true%>
        <div class = "col-md-4">
          <div class = "thumbnail">
              <%= image_tag poster.picture.url.to_s, :title=> poster.title%>
              <div class="caption">
                <%= poster.description %>
              </div>
          </div>
        </div>
      <%end%>
    <% end%>
  </div>


</div>
