<!-- where we display all of the galleries -->

<!-- to see this page, go to: http://localhost:8000/galleries -->

<h1 class="header-center">Our top photos! </h1>

<div class="carousel">
    <a class="carousel-item" ><%= image_tag"duck.jpg", :style => "width:400px; height: auto;" %> 
    <a class="carousel-item"><%= image_tag"clothesswap.JPG", :style => "width:400px; height: auto;" %>
    <a class="carousel-item"><%= image_tag"moonevent.JPG", :style => "width:400px; height: auto;" %>
    <a class="carousel-item"><%= image_tag"crumclean.jpeg", :style => "width:400px; height: auto;" %>
    <a class="carousel-item"><%= image_tag"duck.jpg", :style => "width:400px; height: auto;" %>
</div>

<script>
    $(document).ready(function(){
        $('.carousel').carousel();
    });
</script>