<!-- where we display all of the galleries -->

<!-- to see this page, go to: http://localhost:8000/galleries -->

<div class="gallery-body">
    <h4 class="gallery-header">Our top photos! </h1>

<!-- 
<div class="carousel">
    <a class="carousel-item"><%= image_tag"duck.jpg", :style => "width:400px; height: auto;" %> 
    <a class="carousel-item"><%= image_tag"clothesswap.JPG", :style => "width:400px; height: auto;" %>
    <a class="carousel-item"><%= image_tag"moonevent.JPG", :style => "width:400px; height: auto;" %>
    <a class="carousel-item"><%= image_tag"crumclean.jpeg", :style => "width:400px; height: auto;" %>
    <a class="carousel-item"><%= image_tag"duck.jpg", :style => "width:400px; height: auto;" %>
</div>

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
</div>

<script>
    $(document).ready(function(){
        // $('.carousel').carousel();
        $('.carousel.carousel-slider').carousel( {
            fullWidth: true
        });
    });

</script>  -->

    <!-- 1. Link to jQuery (1.8 or later), -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

    <!-- fotorama.css & fotorama.js. -->
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

    <!-- 2. Add images to <div class="fotorama"></div>. -->
    <div class="fotorama gallery">
        <%= image_tag"/app/assets/images/clothesswap.JPG" %>
        <%= image_tag"/app/assets/images/moonevent.JPG" %>
        <%= image_tag"/app/assets/images/crumclean.JPG" %>
        <!-- 
        <img src="/assets/images/clothesswap.jpg" alt="clothes swap">
        <img src="/assets/images/moonevent.JPG" alt="moon event party">
        <img src="/assets/images/crumclean.jpeg" alt="crum clean-up"> -->
        <img src="/app/assets/images/clothesswap.JPG">
        <img src="http://s.fotorama.io/1.jpg">
        <img src="http://s.fotorama.io/2.jpg">
    </div>

    <!-- 3. Enjoy! -->
</div>
