<!DOCTYPE html>
<html>
  <head>
    <title>SyncUpforZeroWaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">MISSION</a></li>
      <li><a href="#!">VALUES</a></li>
      <!-- <li class="divider"></li> -->
      <li><a href="#!">BIOGRAPHIES</a></li>
    </ul>

    <body>
      <ul id="dropdown2" class="dropdown-content">
        <li><%= link_to "Pods", projects_path, class:"pods"%>BYOU</li>
        <li><a href="#!">Terracycle</a></li>
        <!-- <li class="divider"></li> -->
        <li><a href="#!">Break Free from the Plastic</a></li>
        <li><a href="#!">Butterfiles and the Bees</a></li>
      </ul>

    <nav>
      <div class="nav-wrapper">
        <a href="/home/index" class="brand-logo"><%= image_tag "logo.gif", :style => "width:60px;height:60px;"%>SYNC UP FOR ZERO WASTE</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/home/index">HOME</a></li>
          <li><a class="dropdown-trigger" data-target="dropdown1">OUR STORY<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/projects/index" class="dropdown-trigger" data-target="dropdown2">PODS<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/">ART</a></li>
          <li><a href="">PARTIES</a></li>
          <li><a href="">SYNC UP</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>

  <script>
    $(".dropdown-trigger").dropdown({hover: true});
  </script>

</html>
