<!DOCTYPE html>
<html>
  <head>
    <title>SyncUpforZeroWaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Biryani|Libre+Baskerville|Space+Mono|Special+Elite" rel="stylesheet">
  </head>


    <body>

      <div class="nav-wrapper">
        <ul class ="navbar">
          <li><%=image_tag "SZW_logo.gif", :style => "width:62px; padding: 5px 0 0 7px;"%></li>
          <div style="padding-top: 6px;">
            <li><a href="/home/index" class="brand-logo" style="font-size:large">
              SYNC UP FOR ZERO WASTE</a></li>
            <li><a href="/home/index">HOME</a></li>
            <li class="dropdown">
              <a href="/home/mission" class="dropbtn">OUR STORY</a>
              <div class="dropdown-content">
                <a href="/home/mission">MISSION</a>
                <%=link_to principals_path do%>VALUES<%end%>
                <%=link_to biographies_path do%>BIOGRAPHIES<%end%>
              </div>
            </li>
            <li class="dropdown">
            
            </li>
            <li><%=link_to galleries_path do%>ART<%end%></li>
            <li><%=link_to posters_path do%>PARTIES<%end%>
            <li><a href="">SYNC UP</a></li>
          </div>
        </ul>
      </div>
    <%= yield %>
  </body>

  <script>
    $(".dropdown-trigger").dropdown({hover:true});
  </script>

</html>
