<!DOCTYPE html>
<html>
  <head>
    <title>SyncUpforZeroWaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Biryani|Libre+Baskerville|Space+Mono|Special+Elite" rel="stylesheet">
  </head>

  <div class="header">
    <nav class="navbar">
    <div class="nav-items">
      <ul class="nav navbar-nav">
        <li class="nav-item-img">
          <a class="nav-link" href="/home/index"><%= image_tag"header-logo.svg", :style => "width:auto; height: 1.75em;" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ourstory">Our Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pods">Pods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posters">Parties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/index">Sync Up</a>
        </li>
      </ul>
    </div>
    </nav>
  </div>

  <div class="container">
    <body>
      <%=yield%>
    </body>
    <div class="footer">
      <h5>Sync Up for Zero Waste at Swarthmore College</h5>
    </div>
  </div>


</html>
